<%= form_with(model: student, url: [@course, @student], local: true, :html => { :class => "col-sm-4 form-horizontal" }, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> no permitieron guardar al alumno:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, :class => 'control-label' %>
    <%= form.text_field :first_name, id: :student_first_name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :last_name , :class => 'control-label'%>
    <%= form.text_field :last_name, id: :student_last_name, :class => 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :file , :class => 'control-label'%>
    <%= form.text_field :file, id: :student_file, :class => 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :documet, :class => 'control-label' %>
    <%= form.text_field :documet, id: :student_documet, :class => 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :email , :class => 'control-label'%>
    <%= form.text_field :email, id: :student_email, :class => 'form-control'  %>
  </div>

  <div class="form-group ">
    <div class="actions">
      <%= form.submit "Guardar", :class => 'btn btn-primary'%>
      <%= link_to 'Volver', course_students_path(@course), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
