
<h1>Estudiantes de la cursada <%= @course.year %></h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Apellidos</th>
      <th>Nombres</th>
      <th>Legajo</th>
      <th>DNI</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.last_name %></td>
        <td><%= student.first_name %></td>
        <td><%= student.file %></td>
        <td><%= student.documet %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Editar', edit_course_student_path(@course, student) %></td>
        <td><%= link_to 'Eliminar', [@course, student], method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo estudiante', new_course_student_path, :class => 'btn btn-primary' %>

