
<h1>Resultado de las evaluaciones de la cursada <%= @course.year %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Apellido y Nombre</th>
      <th>Legajo</th>
      <th>Nota</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.test.title %></td>
        <td><%= result.test.date.strftime("%d/%m/%Y") %></td>
        <td><%= result.student.last_name + " " + result.student.first_name %></td>
        <td><%= result.student.file %></td>
        <td><%= result.score %></td>
        <td><%= result.test.minimum_score <= result.score ? "Aprobado" : "Desaprobado" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
