
<h1>Estadisticas de las evaluaciones de la cursada <%= @course.year %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Aprobados</th>
      <th>Desaprobados</th>
      <th>Ausentes</th>
      <th>Porcentaje de aprobacion</th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |element| %>
      <tr>
        <td><%= element[:test].title %></td>
        <td><%= element[:test].date.strftime("%d/%m/%Y") %></td>
        <td><%= element[:approved] %></td>
        <td><%= element[:disapproved] %></td>
        <td><%= element[:missing] %></td>
        <td><%= element[:percentage] %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
