<%= form_with(model: test, url: [@course, @test], local: true, :html => { :class => "col-sm-4 form-horizontal" }) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> no permitieron guardar la evaluacion:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group ">
    <div class="field">
      <%= form.label :title, :class => 'control-label' %>
      <%= form.text_field :title, id: :test_title, :class => 'form-control' %>
    </div>

<% if @test.new_record? %>
  <div class="field">
      <%= form.label :date, :class => 'control-label' %>
      <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
        <%= form.text_field :date, id: :test_date, :class => 'form-control datetimepicker-input', :data => {:target => '#datetimepicker2' } %>
              <span class="input-group-addon" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
          </span>
      </div>
    </div>
<% else %>
  <div class="field">
      <%= form.label :date, :class => 'control-label' %>
      <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
        <%= form.text_field :date, value: @test.date.strftime("%d/%m/%Y"),id: :test_date, :class => 'form-control datetimepicker-input', :data => {:target => '#datetimepicker3' } %>
              <span class="input-group-addon" data-target="#datetimepicker3" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
          </span>
      </div>
    </div>
<% end %>
    

    <div class="field">
      <%= form.label :minimum_score, :class => 'control-label' %>
      <%= form.number_field :minimum_score, id: :test_minimum_score, :class => 'form-control', in: 1...10 %>
    </div>
  </div>
  <div class="form-group ">
    <div class="actions">
      <%= form.submit "Guardar", :class => 'btn btn-primary'%>
      <%= link_to 'Volver', course_tests_path(@course), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
