<h1>Editando evaluacion para la cursada <%= @course.year %></h1>

<%= render 'form', test: @test %>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker3').datetimepicker({
          format: 'DD/MM/YYYY',
          locale: 'es',
					format: 'L'
      });
  });
</script>