
<h1>Evaluaciones de la cursada <%= @course.year %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Nota Minima</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.date.strftime("%d/%m/%Y") %></td>
        <td><%= test.minimum_score %></td>
        <td><%= link_to 'Editar notas', scores_course_test_path(@course, test) %></td>
        <td><%= link_to 'Editar', edit_course_test_path(@course, test) %></td>
        <td><%= link_to 'Eliminar', [@course, test], method: :delete, data: { confirm: 'Esta seguro? Al eliminar una evaluacion se eliminaran todas sus notas' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva evaluacion', new_course_test_path, :class => 'btn btn-primary' %>
