
<h1>Notas de la evaluacion <%= @test.title %> de la cursada <%= @course.year %></h1>
<%= form_tag(url: scores_course_test_path(@course, @test), method: :post, local: true, :html => { :class => "col-sm-4 form-horizontal" }) do |form| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="display:none;">Id</th>
      <th>Apellido y nombre</th>
      <th>Legajo</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <% student_test = @scores.find { |score| score.student_id == student.id } %>
      <tr>
        <td style="display:none;"><input type="hidden" name="student_score[<%= student.id %>][id]" value="<%= student.id %>" /></td>
        <td><%= student.last_name + " " + student.first_name %></td>
        <td><%= student.file %></td>
        <td><input type="number" name="student_score[<%= student.id %>][score]" class="form-control" value="<%= student_test ? student_test.score : nil %>" /></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Guardar Notas", class: "form_save btn btn-primary " %>

<% end %>

<br>
