
<%= form_tag user_sessions_path, :method => :post, class: "col-sm-4" do %>
  <div class="form-group">
    <div class="field">
      <%= label_tag :email, "Email", :class => 'control-label' %><br />
      <%= text_field_tag :email, nil, :class => 'form-control' %>
    </div>
    <div class="field">
      <%= label_tag :password, "Password", :class => 'control-label' %><br />
      <%= password_field_tag :password, nil, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= submit_tag "Ingresar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>